<!--
  footer.ejs
  Student's name: Yuk Hong Ma
  Student ID: 301210312
  Date: June 4, 2022
-->
   
    <footer>
        <p>Copyright ©  Yuk Hong Ma 301210312 COMP229004 Web Application Development 2022 Summer</p>    
    </footer>

  <!-- Scripts -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>