<% include partials/header.ejs %>

<!--
  index.ejs
  Student's name: Yuk Hong Ma
  Student ID: 301210312
  Date: June 4, 2022
-->

<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Banner Image -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/images/centennial2.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>COMP229 Web Application Dev</h3>
      <p><b>Yuk Hong Ma 301210312</b></p>   
      <p><b>Welcome to my Express Portfolio Site!</b></p>   
    </div>
  </div>


  
  <!-- The Mission Statement -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">MISSION STATEMENT</h2>
    <p class="w3-opacity"><i>We develop webs</i></p>
    <p class="w3-justify">To enhancing the business growth of our customers with creative Design and Development to deliver market-defining high-quality solutions that create value and consistent competitive advantage for our clients around the world. We take pride in our on time delivery and ability to meet quick turn around requests while exceeding customer quality demands.
      Customer Satisfaction continues to be of utmost importance, as do Consistent quality, Constant innovation, Technology enhancement, Process improvement and Customer orientation. We have developed our core competence and aligning objectives at all levels so as to realize synergy in operations. </p>
  <p><a href="/">Home Page</a></p>
  <p><a href="/aboutme">About Me Page</a></p>
  <p><a href="/projects">Projects Page</a></p>
  <p><a href="/services">Services Page</a></p>
  <p><a href="/contact">Contact Page</a></p>
  </div>

  
  
<!-- End Page Content -->
</div>



<% include partials/footer.ejs %>