<% include partials/header.ejs %>
  
<!--
  projects.ejs
  Student's name: Yuk Hong Ma
  Student ID: 301210312
  Date: June 4, 2022
-->

<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Banner Image -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/images/centennial3.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>PROJECTS</h3>
    </div>
  </div>


  
  <!-- The Projects Page -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Projects Page</h2>
    <p class="w3-opacity"><i>All the hard work but fun</i></p>
    <img src="images/project1.png" style="width:200px" class="w3-hover-opacity">
    <p><a href="http://studentweb.cencol.ca/yma100/termproject/term_project.html">Term Project (sole developer)</a></p>
    <h6>Copyright &copy;&nbsp; Yuk Hong Ma 301210312 COMP2130003 Web Interface Design 2021 Fall</h6>
    <hr>
    <img src="images/project2.png" style="width:200px" class="w3-hover-opacity">
    <p><a href="http://studentweb.cencol.ca/yma100/Comp125Assign4/assignment4.html">Assignment 4 (sole developer)</a></p>
    <img src="images/project3.png" style="width:200px" class="w3-hover-opacity">
    <p><a href="http://studentweb.cencol.ca/yma100/Comp125Assign5/html/login.html">Assignment 5 (sole developer)</a></p>
    <img src="images/project4.png" style="width:200px" class="w3-hover-opacity">
    <p><a href="http://studentweb.cencol.ca/yma100/Comp125Assign6/">Assignment 6 (sole developer)</a></p>
    <h6>Copyright &copy;&nbsp; Yuk Hong Ma 301210312 COMP125003 Client-Side Web Development 2022 Winter</h6>
    <hr>
  </div>

  
  
<!-- End Page Content -->
</div>



<% include partials/footer.ejs %>