<% include partials/header.ejs %>
  
<h1  style="background-color:rgb(255, 99, 71);font-family:arial">COMP229004 Web Application Development 2022 Summer</h1>
</header>
<h4>Yuk Hong Ma 301210312</h4>
<p>Welcome to my Express Portfolio Site!</p>
<li>I love Gaming</li>
<li>Swimming</li>
<li>Sun bathing</li>
<li>Making cool stuff</li>
<li>Travelling</li>
<li>And watch movies</li>
<img src="https://i.ibb.co/5GT3wsy/swim.jpg"  height="174" width="290">
<br>
<h3 style="color:green; font-family:verdana">I am from Hong Kong and I am also a crypto lover!</h3>
<p><a href="Assign2/assignment2.html">See assignment 2</a></p>
<p><a href="Assign3/assignment3.html">Assignment 3</a></p>
<p><a href="Assign4/assignment4.html">Assignment 4</a></p>
<p><a href="termproject/term_project.html">Term Project</a></p>
<h6>Copyright &copy;&nbsp; Yuk Hong Ma 301210312 COMP2130003 Web Interface Design 2021 Fall</h6>
<hr>
<p><a href="Comp125Assign4/assignment4.html">Assignment 4</a></p>
<p><a href="Comp125Assign5/html/login.html">Assignment 5</a></p>
<p><a href="Comp125Assign6">Assignment 6</a></p>
<h6>Copyright &copy;&nbsp; Yuk Hong Ma 301210312 COMP125003 Client-Side Web Development 2022 Winter</h6>

<hr>

<% include partials/footer.ejs %>